body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Jaro", sans-serif; /* Correção do nome da fonte */
    font-weight: 400;
    font-style: normal;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -1000;
    background-size: cover;
    transition: 1s opacity;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    position: relative;
    padding: 20px;
    color: white;
}

.button {
    background: #9b8888;
    border-radius: 10px;
    margin-top: 50px; /* Adiciona um espaço entre o botão e os outros elementos */
    font-size: 50px;
    padding: 37px 80px;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.button:hover {
    background-color: #65e49e; /* Altere para a cor desejada */
    color: #ffffff; /* Altere para a cor do texto desejada */
    cursor: pointer;
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
    
}

.logo{
    border-radius: 50%;
    width: 100px; /* largura desejada */
    height: 100px; /* altura desejada */
    position: fixed;
    bottom: 100px;
    right: 100px;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
    
}